# EditorConfig para Filius Food
# https://editorconfig.org

root = true

# Configuración por defecto para todos los archivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_size = 4

# CSS
[*.css]
indent_size = 4

# JavaScript
[*.js]
indent_size = 2

# JSON
[*.json]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = 80
